body, h1 {
    margin: 0;
    word-break: break-word;
}

body, header, h1, div, span, a {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    color: #1f2f3d;
}

a:link, a:visited {
    color: #1f2f3d;
}

.layout {
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    /*照顾ie6*/
    zoom: 1;
}
