html {
    position: fixed;
}

body {
    background-image: url(http://file.liangtongzhuo.com/98fa375a32a9a5c113d9.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    background-repeat:no-repeat;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.title {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 10%;
    border: solid 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.5);
    line-height: 100px;
    border-radius: 300px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    color: #fff;
}

footer {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    bottom: 20%;
    padding: 0 20px 0 20px;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}
