img {
    display: inline-block;
    max-width: 100%;
}

header {
    padding-top: 100px;
    margin-bottom: 50px;
}

#title {
    font-weight: 300;
    font-size: 60px;
}

.content {
    margin-left: -10px;
}

.content .item {
    margin-bottom: 50px;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.content .item:hover {
    background-color: #e9e9e9;
    border-radius: 10px;
}

.content .item .title {
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 15px;
}

.content .item .atricle-content {
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 15px;
}

.content .item .time {
    margin-right: 30px;
    font-weight: 100;
    font-size: 15px;
    text-align: right;
}
/*按钮 position*/
.layoutfixed {
    position: fixed;
    width: 100%;
    bottom: 20px;
    z-index: 1;
}

#tag {
    position: absolute;
    bottom: 70px;
    font-size: 25px;
    font-weight: 200;
    background-color: #f9f9f9;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    padding: 20px;
    visibility: hidden;
}

#btn {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 0;
    border-radius: 30px;
    background-color: #f9f9f9;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .30);
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 200px;
    cursor: pointer;
}
